<div class="featured-image-section">
                    <div class="featured-image-grid">
                        <div class="featured-img">
                            <img src="/images/3dprint4.png">
                        </div>
                        <div class="featured-img">
                            <img src="/images/3dprint5.png">
                        </div>
                        <div class="featured-img">
                            <img src="/images/3dprint6.png">
                        </div>
                    </div>
                </div>