---
const currentPath = Astro.url.pathname;
---

<nav id="navbar">
    <div class="nav-container">
        <a href="/" class="logo-link">
            <div class="logo-shadow-wrap">
                <img src="/finical3d_logo-Long.png" alt="Finical 3D">
            </div>
        </a>
        <ul class="nav-links">
            <li><a href="/" class:list={['nav-link', { active: currentPath === '/' }]}>Home</a></li>
            <!--<li><a href="/shop" class:list={['nav-link', { active: currentPath.startsWith('/shop') }]}>Shop</a></li>-->
            <li><a href="/about" class:list={['nav-link', { active: currentPath === '/about' }]}>About</a></li>
            <li><a href="/tools" class:list={['nav-link', { active: currentPath === '/tools' }]}>Our Tech</a></li>
            <li><a href="/sustainability" class:list={['nav-link', { active: currentPath === '/sustainability' }]}>Sustainability</a></li>
            <li><a href="/contact" class:list={['nav-link', { active: currentPath === '/contact' }]}>Contact</a></li>
        </ul>
        <div class="menu-toggle" id="menuToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>

<div class="mobile-nav" id="mobileNav">
    <ul class="mobile-nav-links">
        <li><a href="/" class:list={[{ active: currentPath === '/' }]}>Home</a></li>
        <!--<li><a href="/shop" class:list={[{ active: currentPath.startsWith('/shop') }]}>Shop</a></li>-->
        <li><a href="/about" class:list={[{ active: currentPath === '/about' }]}>About</a></li>
        <li><a href="/tools" class:list={[{ active: currentPath === '/tools' }]}>Our Tech</a></li>
        <li><a href="/sustainability" class:list={[{ active: currentPath === '/sustainability' }]}>Sustainability</a></li>
        <li><a href="/contact" class:list={[{ active: currentPath === '/contact' }]}>Contact</a></li>
    </ul>
</div>