---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

const { title = 'Finical 3D' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        declare function gtag(...args: any[]): void;
        declare var dataLayer: any[];
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FN1PWJ53VP"></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-FN1PWJ53VP');
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/finical3d-main.css">
</head>
<body>
    <Nav />
    <slot />
    <Footer />
    <script is:inline src="/finical3d-scripts.js"></script>
</body>
</html>